<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings file="">
        <clear />
        <add key="ApiClient.ClientId" value="perYJiGs249tKfY9jPsnJ3kN5iMNbPoT" />
        <add key="ApiClient.ClientSecret" value="agNGqItNHPzTjiow" />
        <add key="ApiClient.RedirectUri" value="https://localhost:44300" />
        <add key="ApiClient.AccessToken" value="NiHaPUpD73AAqhIwMAgnz4ZwvavW" />
        <add key="ApiClient.RefreshToken" value="cbCAjwpwgoCcybyLmWksROnSGNAvTC01" />
        <add key="ApiClient.ExpirationDateTime" value="2021-12-01T13:30:39.9459029+03:00" />
    </appSettings>
</configuration>
