<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings file="">
        <clear />
        <add key="ApiClient.ClientId" value="perYJiGs249tKfY9jPsnJ3kN5iMNbPoT" />
        <add key="ApiClient.ClientSecret" value="agNGqItNHPzTjiow" />
        <add key="ApiClient.RedirectUri" value="https://localhost:44300" />
        <add key="ApiClient.AccessToken" value="9CbvjrvHFX4M3bPBYtDjplsEirXP" />
        <add key="ApiClient.RefreshToken" value="1FgFJi7Guyv4vgGER7cYA0cv1yUzaLO8" />
        <add key="ApiClient.ExpirationDateTime" value="2021-11-12T18:45:51.5846000+03:00" />
    </appSettings>
</configuration>
