<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings file="">
        <clear />
        <add key="ApiClient.ClientId" value="perYJiGs249tKfY9jPsnJ3kN5iMNbPoT" />
        <add key="ApiClient.ClientSecret" value="agNGqItNHPzTjiow" />
        <add key="ApiClient.RedirectUri" value="https://localhost:44300" />
        <add key="ApiClient.AccessToken" value="bGvEyJtGHN7AHeAHVCFMX9eKRKYq" />
        <add key="ApiClient.RefreshToken" value="uquKMP9y8l6WGX7PY7mb28QixtGGU1Im" />
        <add key="ApiClient.ExpirationDateTime" value="2021-11-03T16:36:17.7069509+03:00" />
    </appSettings>
</configuration>
