<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings file="">
        <clear />
        <add key="ApiClient.ClientId" value="perYJiGs249tKfY9jPsnJ3kN5iMNbPoT" />
        <add key="ApiClient.ClientSecret" value="agNGqItNHPzTjiow" />
        <add key="ApiClient.RedirectUri" value="https://localhost:44300" />
        <add key="ApiClient.AccessToken" value="xLgyJRoPrqag8bH04v3CsqmiIlAA" />
        <add key="ApiClient.RefreshToken" value="iuArGLnaqlfAYzcdPnH9je1xXCED3BR4" />
        <add key="ApiClient.ExpirationDateTime" value="2021-11-10T18:30:03.0596000+03:00" />
    </appSettings>
</configuration>
